html, body {
	 font-size:12pt;
	 background:#EEF2FF;
	 color:#000000;
}
a {
	background:inherit;
	color:#34345C;
	font-family:sans-serif;
}
a:visited {
	background:inherit;
	color:#34345C;
	font-family:sans-serif;
}
a:hover {
	color:#DD0000;
	background:inherit;
	font-family:sans-serif;
}

.adminbar {
	text-align:right;
	background:inherit;
	clear:both;
	float:right;
}
.logo {
	clear:both;
	text-align:center;
	background:inherit;
	font-size:24pt;
	color:#AF0A0F;
	width:100%;
}
.replymode {
	background:#0010E0;
	color:#FFFFFF;
	width:100%;
}
.catalogmode {
	background:#0040E0;
	color:#FFFFFF;
	width:100%;
}
.postarea {
	border-top: 1px solid #B7C5D9 !important;
	border-bottom: 1px solid #B7C5D9 !important;
}
.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}
.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}
.postblock {
	background:#9988EE;
	color:#000000;
	font-weight:800;
}
.footer {
	text-align:center;
	font-size:10px;
	font-family:sans-serif;
}
.passvalid {
	background:#9988EE;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	background:inherit;
	text-align:center;
}
.delbuttons {
	background:inherit;
	text-align:center;
	padding-bottom:4px;
}
.managehead {
	background:#0F8FE1;
	color:#000000;
	font-family:sans-serif;
	font-size:14px;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#000000;
}
.row1 {
	background:#9AD2F6;
	font-family:sans-serif;
	font-size:12px;
	color:#000000;
}
.row2 {
	background:#FFFFFF;
	font-family:sans-serif;
	font-size:12px;
	color:#000000;
}
.unkfunc {
	color:#789922;
}
.filesize {
	font-family:sans-serif;
	text-decoration:underline;
}
.filetitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}
.postername {
	font-family:serif;
	color:#117743;
	font-weight:800;
}
.oldpost {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}
.omittedposts {
	background:inherit;
	font-family:serif;
	color:#070707;
	font-weight:800;
}
.reply {
	background:#D6DAF0;
	color:#000000;
	font-family:serif;
}
.replyhl {
	background: #D6BAD0;
	color: #000000;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}

.thumbnailmsg {
	background:inherit;
	font-size:9px;
	font-family:sans-serif;
	color:#000000;
}

.watchedthreads {
	background-color: #D6DAF0 !important;
	border: 1px dotted #D6DAF0 !important;
	border-top: 0px none !important;
}

.reflinkpreview {
	background-color: #D6DAF0 !important;
}

.topmenu {
	border-bottom: 1px solid #D6DAF0;
	opacity: 0.95;
	background:#EEF2FF;
}
.adminbar img{
	vertical-align:middle;
	border:0;
}

.catalogsubject {
	color:#0F0C5D;
	font-family:serif;
	font-weight:800;
}

.catalogmsg {
	color:#000000;
	font-family:serif;
}

.catalogposts {
	font-weight:800;
	font-size: small;
	color: #000000;
	font-family:serif;
}

.cataloglist {
	border-bottom: 1px solid #B7C5D9 !important;
}
.thrdcntnr {
	border-bottom: 1px solid #B7C5D9 !important;
}

.unhidethread {
	border-bottom:1px solid #B7C5D9 !important;
}

.hidethread {
	background: transparent url('./icons/blue/icons.svg') -32px -16px no-repeat !important;
}

.unhidethread img {
	background: transparent url('./icons/blue/icons.svg') -48px 0px no-repeat !important;
}

.watchthread {
	background: transparent url('./icons/blue/icons.svg') -32px 0px no-repeat !important;
}

.expandthread {
	background: transparent url('./icons/blue/icons.svg') 0px -16px no-repeat !important;
}

.quickreply {
	background: transparent url('./icons/blue/icons.svg') 0px 0px no-repeat !important;
}

.hidewatchedthreads, .hidebutton {
	background: transparent url('./icons/blue/icons.svg') -48px -16px no-repeat !important;
}

.refreshwatchedthreads {
	background: transparent url('./icons/blue/icons.svg') -16px -16px no-repeat !important;
}

.restorewatchedthreads {
	background: transparent url('./icons/blue/icons.svg') -16px 0px no-repeat !important;
}