body {
	margin: 8px;
}


a {
	text-decoration: none;
	color:#fff;
}


h1, h2 {
	background:#49525D;
	border-radius: 6px;
	text-align: center;
}


h1 {
	margin-top: 0px;
	font-size: 150%;
	color: #000;
}


h2 {
	font-size: 100%;
	margin-top: 1em;
}


.plus {
	border-radius: 6px; float: right;
	font-size: 8px;
	font-weight: normal;
	padding: 1px 4px 2px 4px;
	margin: 0px 0px;
	background: #49525D;	color: #fff;
	cursor: hand;
	cursor: pointer;
}


.plus:hover {
	background: #da8;
	border: 1px solid #c97;
}


ul {
	list-style: none; 
	padding-left: 2px;
	margin: 0px;
}


li {
	 margin: 0px;
}


li:hover {
	background:#9DA6B0;
}


li a {
	display: block;
	width: 100%;
 }